table.floods-html-global-seas-table tr.date-row th {
    border-width: 1px 4px 1px 1px;
    border-style: solid;
    text-align: center;
    border-color: #dddddd;
}

table.floods-html-global-seas-table tr th:first-child {
    border-width: 1px 4px 1px 4px;
    border-style: solid;
    text-align: center;
    border-color: #dddddd;
}

table.floods-html-global-seas-table th {
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
}

table.floods-html-global-seas-table th.heavy-r-border {
    border-width: 1px 4px 1px 1px;
    border-style: solid;
    border-color: #dddddd;
}

table.floods-html-global-seas-table tr td:first-child {
    border-width: 1px 4px 1px 4px;
    border-style: solid;
    text-align: center;
    border-color: #dddddd;
}

table.floods-html-global-seas-table td {
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
}

table.floods-html-global-seas-table td.heavy-r-border {
    border-width: 1px 4px 1px 1px;
    border-style: solid;
    border-color: #dddddd;
}

table.floods-html-global-seas-table td:empty {
    border-width: 0px;
}



table.floods-html-global-seas-table td.highlight-class-1 {
    background-color: #ca0418;
}


table.floods-html-global-seas-table td.highlight-class-2 {
    background-color: #d9ab03;
}


table.floods-html-global-seas-table td.highlight-class-3 {
    background-color: #7a7a7a;
}


table.floods-html-global-seas-table td.highlight-class-4 {
    background-color: #7a7a7a;
}


table.floods-html-global-seas-table td.highlight-class-5 {
    background-color: #7a7a7a;
}


table.floods-html-global-seas-table td.highlight-class-6 {
    background-color: #04b6ce;
}


table.floods-html-global-seas-table td.highlight-class-7 {
    background-color: #1903dd;
}


table.floods-html-global-seas-table td.highlight-class-8 {
    background-color: #ee3c4d;
}


table.floods-html-global-seas-table td.highlight-class-9 {
    background-color: #f0c838;
}


table.floods-html-global-seas-table td.highlight-class-10 {
    background-color: #ababab;
}


table.floods-html-global-seas-table td.highlight-class-11 {
    background-color: #ababab;
}


table.floods-html-global-seas-table td.highlight-class-12 {
    background-color: #ababab;
}


table.floods-html-global-seas-table td.highlight-class-13 {
    background-color: #2ed8ee;
}


table.floods-html-global-seas-table td.highlight-class-14 {
    background-color: #6252f8;
}


table.floods-html-global-seas-table td.highlight-class-15 {
    background-color: #ee3c4d;
}


table.floods-html-global-seas-table td.highlight-class-16 {
    background-color: #f0c838;
}


table.floods-html-global-seas-table td.highlight-class-17 {
    background-color: #ababab;
}


table.floods-html-global-seas-table td.highlight-class-18 {
    background-color: #ababab;
}


table.floods-html-global-seas-table td.highlight-class-19 {
    background-color: #ababab;
}


table.floods-html-global-seas-table td.highlight-class-20 {
    background-color: #2ed8ee;
}


table.floods-html-global-seas-table td.highlight-class-21 {
    background-color: #6252f8;
}


table.floods-html-global-seas-table td.highlight-class-22 {
    background-color: #f67c88;
}


table.floods-html-global-seas-table td.highlight-class-23 {
    background-color: #f4df90;
}


table.floods-html-global-seas-table td.highlight-class-24 {
    background-color: #dedede;
}


table.floods-html-global-seas-table td.highlight-class-25 {
    background-color: #dedede;
}


table.floods-html-global-seas-table td.highlight-class-26 {
    background-color: #dedede;
}


table.floods-html-global-seas-table td.highlight-class-27 {
    background-color: #90e8f4;
}


table.floods-html-global-seas-table td.highlight-class-28 {
    background-color: #948af4;
}
