@font-face {
  font-family: 'test-drive-nissan';
  src:  url('fonts/test-drive-nissan.eot?1kndi4');
  src:  url('fonts/test-drive-nissan.eot?1kndi4#iefix') format('embedded-opentype'),
    url('fonts/test-drive-nissan.ttf?1kndi4') format('truetype'),
    url('fonts/test-drive-nissan.woff?1kndi4') format('woff'),
    url('fonts/test-drive-nissan.svg?1kndi4#test-drive-nissan') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'test-drive-nissan' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fechar:before {
  content: "\e90a";
}
.icon-usuario-circulo:before {
  content: "\e909";
}
.icon-sino:before {
  content: "\e906";
}
.icon-usuario:before {
  content: "\e907";
}
.icon-calendario:before {
  content: "\e905";
}
.icon-calendario-3:before {
  content: "\e908";
}
.icon-pesquisar:before {
  content: "\e902";
}
.icon-calendario-2:before {
  content: "\e900";
}
.icon-carro:before {
  content: "\e901";
}
.icon-rotas:before {
  content: "\e903";
}
.icon-volante:before {
  content: "\e904";
}
