form{
    margin: 0;
    padding: 0;
    display: inline;
}
table{
    border-collapse: collapse;
}
tr{
    border: 2px solid white;
}
th{
    font-family: "Roboto Mono", monospace;
    font-size: 0.8em;
    font-weight: 600;
    text-align: left;
    padding: 0.25em 0.5em;
    background-color: var(--donkergrijs);
    color: white;
}
td{
    font-family: "Roboto Mono", monospace;
    font-size: 0.7em;
    font-weight: 300;
    padding: 0.25em 0.5em;
    background-color: white;
    border-radius: 0;
}
.smal{
    max-width: 2em;
    overflow: hidden;
}

.two-columns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.two-columns > div:first-of-type{
    width: 400px;
}
.two-columns > div:last-of-type{
    flex: 1;
}
.single-form label{
    display: inline-block;
    width: 11em;
    text-align: right;
    margin-right: 0.5em;
    padding: 0.25em 0.5em;
    border-radius: 3px;
}
.single-form label .kopieknop{
    float: left;
}
.single-form input[type=text],
.single-form input[type=email],
.single-form input[type=number],
.single-form input[type=datetime-local]
{
    border: none;
    background-color: #ddd;
    padding: 0.25em 0.5em;
    border-radius: 3px;
}

.view-info{
    display: inline-block;
    width: 200px;
    border-radius: 3px;
    padding: 0.25em 0.5em;
}
input[type=submit]{
    border: 1px solid #ddd;
    background-color: #eee;
    padding: 0.25em 0.5em;
    border-radius: 3px;
    font-weight: 600;
}
span.radiospan{
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 234px;
}
span.radiospan.fill{
    justify-content: space-between;
}
span.radio{
    padding: 0.25em 0.5em;
    background-color: #eee;
    border-radius: 3px;
    margin-right: 0.25em;
}
.fill span.radio{
    margin-right: 0;
}

select{
    border: 1px solid #ddd;
    background-color: #eee;
    padding: 0.25em 0.5em;
    border-radius: 3px;
    width: 234px;
}
.single-form p{
    margin: 0.5em 0;
}

h2{
    margin: 2em 0 0.5em 0.5em;
    font-size: 1em;
    font-weight: 600;
    margin-left: 0;
}
h2:first-of-type{
    margin-top: 1em;
}
h2:not(:first-of-type){
    border-top: 1px solid var(--menu);
    padding-top: 0.5em;
}

.links{
    margin-bottom: 0.5em;
}

.single-links-rechts{
    float: right;
    margin-right: 22px;
}

.minfield{
    background-color: var(--menu);
}
.fixedfield{
    background-color: #eee;
}
.cirfield{
    background-color: lightgreen;
}
.cusfield{
    background-color: snow;
}
.view-links{
    width: 100%;
}
.view-links td a{
    font-size: 1em;
}