name: test deploy action
on:
  - push
jobs:
  deploy:
      runs-on: ubuntu-latest
      name: Deploy
      steps:
        - uses: actions/checkout@v4

        # -----------------------------------------------------------------------------------------------------------
        # Example 1
        # -----------------------------------------------------------------------------------------------------------
        - name: Get changed files
          id: changed-files
          uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c
